.product-card {
  height: 100%;
}

.product-card__body {
  text-align: center;
  height: 230px;
}

.product-card__price {
  color: #777;
  font-weight: 300px;
  font-size: 16px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 20px;
}

.product-card__title {
  color: #333;
  font-weight: 300px;
  margin-top: 10px;
  margin-bottom: 0px;
}
