.btn-default {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  
  .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:focus, .btn-default:active:hover  {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
  }
  
  .red-btn-fill {
    padding: 10px;
    background: #f46d6d;
    box-shadow: rgba(50,50,93,.1) 0 2px 2px, rgba(0,0,0,.07) 0 2px 10px;
    border-radius: 7px;
    border: 1px solid #f46d6d;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-shadow: none;
    text-decoration: none;
  }
  
  .red-btn-fill:hover, .red-btn-fill:active, .red-btn-fill:focus, .red-btn-fill:active:focus {
    padding: 10px;
    background: #f59a9a;
    box-shadow: none;
    border-radius: 7px;
    border: 1px solid #f59a9a;
    color: #fff;
    text-shadow: none;
    text-decoration: none !important;
  }
  
  .red-btn-fill:focus {
    outline-color: #f46d6d;
    text-decoration: none;
  }
  
  .red-btn-empty {
    padding: 10px;
    padding-right: 20px;
    background: none;
    box-shadow: none;
    border-radius: 7px;
    border: 1px solid #f46d6d;
    color: #f46d6d;
    font-size: 16px;
    font-weight: 500;
  }
  
  .red-btn-empty:hover, .red-btn-empty:active, .red-btn-empty:focus, .red-btn-empty:active:focus {
    padding: 10px;
    padding-right: 20px;
    background: none;
    box-shadow: none;
    border-radius: 7px;
    border: 1px solid #f59a9a;
    color: #f59a9a;
    outline: none;
  }
  
  .red-btn-empty:focus {
    outline-color: #f46d6d;
    text-decoration: none;
  }
  
  .btn-translate {
    color: #f46d6c;
    text-shadow: none;
    padding: 0;
    padding-left: 10px;
  }
  
  .btn-translate:hover {
    color: #f59a9a !important;
  }
  
  .btn-translate:active, .btn-translate:focus, .btn-translate:active:focus  {
    color: #f46d6c;
    background: none;
    box-shadow: none;
  }
  
  .share-btn {
    width: 10%;
    cursor: pointer;
  }
  
  .share-btn:focus {
    outline: none;
  }
  
  .brand-nav {
    font-weight: 500;
  }